{% extends 'base.html.twig' %}

{% set rubric = 'activite' %}

{% block content %}
    <section id="conserverie" class="content">
        <h2 class="stanley">Bocalerie solidaire</h2>
        <div id="conserverieLeft">
            <div id="conserverieLeftInner">
                <span>
                    L’objectif de la Bocalerie solidaire est  de revaloriser des produits destinés à être jetés dans le circuit économique et social :
                    qualité nutritionnelle, économie solidaire, création d’emploi et efficience environnementale.
                </span>
            </div>
            <p>
                Une équipe de bénévoles engagés nous accompagne pour échanger sur les pratiques de conservation et développer ensemble une gamme
                de bocaux savoureux et artisanaux, à petit prix, et accessibles à tous.
            </p>
            <p>
                &Agrave; l’image de ses autres activités, Recup et Gamelles s’inscrit dans une logique de consommation durable,
                d’approvisionnement en circuit court et de production raisonnée. De plus, l’association met en place un système
                de récupération de ses bio-déchets et une consigne pour les bocaux dans le respect de ses engagements environnementaux.
            </p>
            <p>
                La Bocalerie Solidaire est une des activités incontournables car elle permet de valoriser en temps réel des invendus
                et de développer les capacités d’auto-financement de l’association.
            </p>

            <span id="bdc">Plus d'info : contactez Sandy au 06 28 63 24 55 / sandy@recupetgamelles.fr</span>

            <div class="images">
                <img src="{{ asset('images/conserverie/bocalerie-1.jpg') }}">
                <img src="{{ asset('images/conserverie/bocalerie-2.jpg') }}">
            </div>

            <div class="images">
                <img src="{{ asset('images/conserverie/bocalerie-3.jpg') }}">
                <img src="{{ asset('images/conserverie/bocalerie-4.jpg') }}">
            </div>
        </div>
        <div id="conserverieRight">
            <div id="conserverieRightInner1">
                <div class="item">
                    <h3 class="stanley">Où se déroulent<br>les transformations&nbsp;?</h3>
                    <p>
                        Dans nos cuisines au 28 c rue Santos Dumont
                        69008 Lyon dès que nous avons le temps.
                    </p>
                </div>
                <div class="item">
                    <h3 class="stanley">Quels produits transformés&nbsp;?</h3>
                    <p>
                        Les produits transformés sont des fruits et légumes BIO destinés à être jetés.<br>
                        Les produits sont collectés en amont auprès de nos partenaires. Pour minimiser les risques de sécurité alimentaire, les produits collectés sont uniquement des fruits et légumes et des produits secs, avec des dates de durabilité minimale.
                    </p>
                </div>
            </div>
            <div id="conserverieRightInner2">
                <div class="item">
                    <h3 class="stanley">Où trouver nos bocaux&nbsp;?</h3>
                    <ul>
                        <li>Au local de l’association au :
                            28 c rue Santos Dumont - 69008 Lyon, où
                            chez nos épiceries engagées ;
                        </li>
                        <li>Epicerie A la Source dans le 3e,</li>
                        <li>Epicentre dans le 8e,</li>
                        <li>La Fourmi (3e et 1er),</li>
                        <li>Réseau VRAC,</li>
                        <li>La Tribu des Saveurs à Saint-Priest,</li>
                        <li>Bulko dans le 3e,</li>
                        <li>Marché Co,</li>
                        <li>La Commoderie à Toussieux.</li>
                    </ul>
                </div>
                <div class="item">
                    <h3 class="stanley">Prix</h3>
                    <p>
                        &Agrave; la revalorisation de produits invendus, s’ajoute la volonté de proposer des produits de qualité,
                        à prix accessibles pour tous. Aussi, 3 gammes de prix sont proposées :<br>
                        - pour les épiceries partenaires (prix engagé),<br>
                        - pour les adhérents (prix coûtant),<br>
                        - pour les entreprises adhérentes (prix solidaire).<br>
                    </p>
                </div>
                <div class="item">
                    <h3 class="stanley">+ d’infos</h3>
                    <p>
                        contact@recupetgamelles.fr<br>
                        07 82 33 30 92
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
